{
    "presets": [["env", {
        "modules": false,
        "targets": {
            "node": "current"
        }
    }], ['flow']],
        "plugins": [
        "./resources/common-js-modules",
        "./resources/inline-invariant",
        "syntax-async-functions",
        "syntax-async-generators",
        "transform-class-properties",
        "transform-flow-strip-types",
        "transform-object-rest-spread",
        ["transform-es2015-classes", {"loose": true}],
        ["transform-es2015-destructuring", {"loose": true}],
        ["transform-es2015-spread", {"loose": true}]
        ]
}
